body{
    margin:0 auto;
    width:100%;
    color:#2A2D30;
    background-color: #E8F9F9;
}
header{
    width:100%;
    
}
nav a{
    text-decoration:none;
    color:white;
    padding:5px;
    margin: 15px;
    font-size:24px;
    font-style: bold;
    transition:ease-out 1s;
    font-family: 'Source Sans Pro', sans-serif;
    padding:20px;
    
}


nav a:hover{
    color: #00a0df;
    background-color: white;
}

nav li{
    
    list-style-type:none;
    display: inline-block;
}

header a img {
    max-width: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    /*float: left;*/
    padding:20px;
    
}

nav{
    margin: 0 auto;
    background-color: #00a0df;
    width: 100%;
    display: flex;
    z-index:100;
    justify-content: space-around;
}
nav.fixed{
    margin: 0 auto;
    background-color: #00a0df;
    width: 100%;
    display: flex;
    z-index:100;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index:1000;
}
h1,h2,h3,h4{
    color: #1797d7;
    text-align: center;
    margin: 0 auto;
    padding:5%;
}
main{
    height:100%;
}
footer{
    display:block;
}
.bottom-footer{
    background-color: black;
    color: white;
    list-style-type: none;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    bottom:0;
}
.bottom-footer a {
    text-decoration: none;
    color: ivory;
}
.social img{
    max-height:80px;
    max-width:80px;
    object-fit: cover;
    padding:5px;
}
#contact,#infos-legales,#cgu,#cgv,#accueil-footer,#produits-footer,#blog-footer,#boutique-footer,
#tel-footer,#adresse-footer,#email-footer{
    padding: 5px;
}
.intro{
    width:100%;
    margin:0 auto;
    padding-top: 1%;
    padding-bottom: 15%;
   display: flex;
   justify-content:space-between;
   position:relative;
   background-image: url("./../img/nuageheader.png");
   background-position:bottom;
   background-repeat:no-repeat;
   background-size: contain;
}
.intro img{
        max-height: 315px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;;
    margin: 0 auto; 
}
.video{
    display: inline-block;
    width: 45%; 
    margin: 0 auto;
}
.fondateurs{
    width:80%;
    color:black;
    
    margin:0 auto;
    
}
.fondateurs img{

    max-width: 400px;
    object-fit: cover;
    display:inline-block;
    
    
}
.cadre{
    width: 50%;
    display: inline-block;
}
.presentation{
    width:40%;
    padding:2%;
    display:inline-block;
}
.sectionTroubles{
    background-color:#b4d7e1;
    color:white;
    padding-top:20px;
    text-align:center;
}
.troublesdroite{
    width:60%;
    display:flex;
    margin:0 auto;
    justify-content:flex-end;
    margin:0 auto;
    padding:10px;
}
.troublesgauche{
    width:60%;
    display:flex;
    justify-content:flex-start;
    margin:0 auto;
    padding:10px;
}
.sectionTroubles img{
    max-width: 100px;
    max-height:100px;
    object-fit: cover;
    display:inline-block;
}
.sectionTroubles p{
    padding:10px;
    
}
.button-wrapper {
  display: block;
  text-align: center;
}

.button {
  border: none;
  border-radius: 3em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  width: auto;
}
.sections-index{
    margin:0 auto;
    width:100%;
    padding: 10px;
}
.entete{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.ligne-benefices img{
    border-radius: 50%;
    object-fit: cover;
    height: 180px;
    width: 180px;
}
.ligne-benefices, .big-fact{
    display:flex;
    justify-content:space-between;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}
.big-fact img{
    border-radius: 50%;
    object-fit: cover;
    height: 180px;
    width: 180px;
    filter: grayscale(100%);
    
}
.paragraphes-preuves{
    padding: 20px;
}
#preuves{
    background-color: white;
}
#apostrophes{
   background-image: url("./../img/icone-apostrophes.png");
   background-position: top left;
   background-repeat:no-repeat;
   background-size: 10%;
}
.signatures{
    font-weight: bold;
}

.icones-partenaires{
    border-radius: 50%;
    object-fit: cover;
    height: 80px;
    width: 80px;
}
#icones-partenaires{
    display:flex;
    justify-content:space-around;
}
.logo-partenaires{
    border-radius: 50%;
    object-fit: cover;
    max-height: 80px;
    max-width: 180px;
}
#logos-partenaires{
    display:flex;
    justify-content:space-between;
}



.cta-bouton {
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-family: tahoma,arial,helvetica,sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-top: 12px;
  padding: 7px 9px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #8BC74A;
  color:white;
}

.cta-bouton:hover {
  color: #8BC74A;
  background-color: white;
}