body{
    margin:0 auto;
    width:100%;
    color:#A0D5F9;
}
header{
    width:100%;
}
nav a{
    text-decoration:none;
    color:#00a0df;
    padding:5px;
    margin: 15px;
    font-size:24px;
    font-style: bold;
    transition:ease-out 1s;
    font-family: 'Source Sans Pro', sans-serif;
    padding:20px;
    
}

nav a:hover{
    color: #01384d;
}

nav li{
    
    list-style-type:none;
    display:inline-block;
}

a img {
    max-width: 150px;
    object-fit: cover;
    display: block;
    /*float: left;*/
    padding:20px;
}

nav{
    margin: 0 auto;
    background-color: white;
    width: 100%;
    display: inline-block;
    z-index:100;
    float:left;
}
h1,h2,h3{
    color: #1797D7;
}
.intro{
    width:100%;
    margin:0 auto;
    padding-top: 5%;
    padding-bottom:20%;
   display: inline-block;
   background-image: url("../src/assets/img/nuageheader2.png");
}
.intro img{
    padding:10px; 
}
.video{
    display: inline-block;
    width: 45%; 
}
.fondateurs{
    width:80%;
    color:black;
    display:inline-block;
    margin:0 auto;
    
}
.fondateurs img{

    max-width: 400px;
    object-fit: cover;
    display:inline-block;
    
    
}
.cadre{
    width: 50%;
    display: inline-block;
}
.presentation{
    width:40%;
    padding:2%;
    display:inline-block;
}