
/* body */
body{
    margin:0 auto;
    width:100%;
    color:#2A2D30;
    background-color: #D5EFFE;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5{
    color: #1797d7;
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1{
    padding:1%;
    font-size: 22px;
}
h2{
    padding-top: 20px;
    font-size: 34px;
}
h4{margin-bottom: 3%;
    font-size: 24px;
}
main{
    width: 100%;
    margin:0 auto;
}
.largeur{
    width:1200px;
    margin:0 auto;
    padding-top: 20px;
}

/* header footer */

header{
    width:100%;
}
footer{
    display:block;
}
    .bottom-footer{
    background-color: black;
    color: white;
    list-style-type: none;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    bottom:0;
}
.bottom-footer a {
    text-decoration: none;
    color: ivory;
}
.social img{
    max-height:80px;
    max-width:80px;
    object-fit: cover;
    padding:5px;
}
#contact,#infos-legales,#cgu,#cgv,#accueil-footer,#produits-footer,#blog-footer,#boutique-footer,
#tel-footer,#adresse-footer,#email-footer{
    padding: 5px;
}

/* nav */

nav a{
    text-decoration:none;
    color:white;
    padding:5px;
    margin: 15px;
    font-size:24px;
    font-style: bold;
    transition:ease-out 1s;
    font-family: 'Source Sans Pro', sans-serif;
    padding:20px;
    
}


nav a:hover{
    color: #00a0df;
    background-color: white;
}

nav li{
    
    list-style-type:none;
    display: inline-block;
}

header a img {
    max-width: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    /*float: left;*/
    padding:20px;
    
}

nav{
    margin: 0 auto;
    background-color: #00a0df;
    width: 100%;
    display: flex;
    z-index:100;
    justify-content: space-around;
}
nav.fixed{
    margin: 0 auto;
    background-color: #00a0df;
    width: 100%;
    display: flex;
    z-index:100;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index:1000;
}
.sections-index,.sections-index-fondateurs{
    padding: 20px 0px;
    width:100%;
    text-align: justify;
    line-height: 1.4em;
}

/* intro video */

.intro,.intro2{
    width:100%;
    margin:0 auto;
    padding-top: 1%;
    padding-bottom: 17%;
   display:flex;
    justify-content:space-between;
    align-items:center;
   position:relative;
   background-position:bottom;
   background-repeat:no-repeat;
   background-size: contain;
   font-family: 'Nunito', sans-serif;
}
.intro{
    background-image: url("./../img/nuageheader.png");
}
.intro img{
    max-height: 400px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;;
    margin: 0 auto; 
}
.intro2{
     background-image: url("./../img/nuageheaderentier.png");
}
#entete-produit{
    margin: 0 auto;
    padding-top:25%;
}
.imagecliquable{
    max-height: 400px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;;
    margin: 0 auto; 
}
.video{
    width: 45%; 
    margin: 0 auto;
    padding: 25px;
    background-image: url(./../img/cadre.png);
    background-repeat:no-repeat;
    background-position:center;
}
.video-placement{
    display:block;
    margin:0 auto;
}
/* fondateurs */
.sections-index-fondateurs{
    background-color: white;
    background-image: url(./../img/bulle.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:bottom;
    padding-bottom: 10%;
}
.fondateurs{
    width:80%;
    color:black;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.fondateurs img{
    max-width: 400px;
    object-fit: cover;
    display:inline-block;
    border-radius:10%;
    transform: rotate(-5deg);
}
.cadre{
    width: 50%;
    display: inline-block;
}
.presentation{
    width:60%;
    padding:2%;
    font-size: 15px;
}

/* troubles */

.entete-troubles{
        width: 80%;
    margin: 0 auto;
    text-align: center;
}
.lignes-troubles{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 25%;
    margin: 0 auto;
    padding: 15px;
        text-align: justify;
    line-height: 1.4em;
}
#BD-troubles{
     max-width: 200px;
    max-height:200px;
    object-fit: cover;
    border-radius: 10%;
}
#troubles{
    background-color: white;
}
.sectionTroubles{
    background-color:#b4d7e1;
    color:white;
    padding-top:20px;
    text-align:center;
}
.block-troubles{
    display: flex;
    justify-content: space-around;
    padding: 5% 0px;
}
.sectionTroubles p{
    padding:10px;
    
}
.bx-wrapper{
    max-width: 600px;
    margin: 0 auto;
}    
.paragraphes-slider{
    color: black;
   background-image: url("./../img/icone-apostrophes.png");
   background-position: top left;
   background-repeat:no-repeat;
   background-size: 6%;
   background-color: rgba(252,252,252,0.2);
   border-radius: 10px;
   position: relative !important;
   width: 80% !important;
   margin: 0 auto !important;
   padding: 5%;
}
.bx-viewport{
    height: 100% !important;
}


/* emotions */
#block-emotions{
    display:flex;
    justify-content:space-between;
    padding-top: 4%;
}
.icones-emotions{
     max-width: 200px;
    max-height:200px;
    object-fit: cover;
    border-radius: 10%;
}
.ligne-emotions{
    width: 60%;
    padding-right: 5%;
        text-align: justify;
    line-height: 1.4em;
}
#block-emotions-icones{
    display: flex;
}

/* temoignages */

.sectionTemoignages{
    height: 600px;
    color: white;
}

/* fiche technique */

.fiche-technique{
    display: flex;
    justify-content: space-around;
}
.fiche-technique img{
       margin: 0 auto;
    max-width: 550px;
    max-height: 336px;
    object-fit: cover;
    border-radius: 10%;
    display: block;
}
.fiche-pictogramme{
    padding-right: 5%;
}




.button-wrapper {
  display: block;
  text-align: center;
}

.button {
  border: none;
  border-radius: 3em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  width: auto;
}

/* benefices */

.entete{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
#benefices .bloctexte{
    width: 70%;
    margin: 0 auto;
}
.ligne-benefices img{
    border-radius: 50%;
    object-fit: cover;
    height: 180px;
    width: 180px;
}
.ligne-benefices, .big-fact, .lignes-partenaires{
    display:flex;
    justify-content:space-between;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}
.ligne-benefices{
    border: solid 2px #1797d7;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    margin:15px auto;

}

/* preuves sociales */

.big-fact img{
    border-radius: 50%;
    object-fit: cover;
    height: 180px;
    width: 180px;
    filter: grayscale(100%);
    
}
.big-fact{
    width: 70%;
}
.block-compteur{
    display:flex;
    justify-content:space-around;
    padding: 5%;
}
.compteurs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compteurs img{
    object-fit: cover;
    height: 180px;
    width: 180px;
}
.paragraphes-preuves{
    padding: 20px;
}
#preuves{
    background-color: rgb(247, 178, 51);
    color: black;
}
#apostrophes{
   background-image: url("./../img/icone-apostrophes.png");
   background-position: top left;
   background-repeat:no-repeat;
  background-size: 8%;
      background-color: rgba(252,252,252,0.2);
    border-radius: 10px;
    width: 60%;
}
.signatures{
    font-weight: bold;
    font-style: italic;
}

/* partenaires */
#partenaire{
    background-image: url("./../img/nuageheader.png");
    background-position:bottom;
   background-repeat:no-repeat;
    background-size: contain;
   padding-bottom: 15%; 
}
.icones-partenaires{
    border-radius: 50%;
    object-fit: cover;
    height: 80px;
    width: 80px;
}
#icones-partenaires{
    display:flex;
    justify-content:space-around;
    padding: 5% 0px;
}
.logo-partenaires{
    border-radius: 50%;
    object-fit: cover;
    max-height: 80px;
    max-width: 180px;
    background-color: white;
    margin: 20px;
}
#logos-partenaires{
    display:flex;
    justify-content:space-between;
}
.ligne-partenaires{
    width:60%;
    margin:0 auto;
    
}
#bloc-partenaires{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* cibles */

#cibles{
    background-color: white;
}
.icones-cibles{
    border-radius: 20px;
    object-fit: cover;
    max-height: 80px;
    max-width: 180px;
    background-color: white;
    margin: 20px;
}
.ligne-cibles{
    display:flex;
    justify-content:space-between;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    align-items:center;
}

/* footer top */

.section-top{
    background-image: url("./../img/ludique.png");
    background-position:bottom;
   background-repeat:no-repeat;
   background-size: contain;
   height: 800px;
}
#cadre-footer{
    padding-top: 22%;
    width: 20%;
    margin: 0 auto;
}
#ressources-tutos{
    width: 20%;
    margin: 115px auto;
    border: solid 2px #1797d7;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);

}

.cta-bouton {
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-family: tahoma,arial,helvetica,sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-top: 12px;
  padding: 7px 9px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #8BC74A;
  color:white;
   max-height: 12px;
}

.cta-bouton:hover {
  color: #8BC74A;
  background-color: white;
}


input, textarea, button {
    display:block;
    margin-bottom:20px;
    width:90%;
    height:50px;
    border-radius:20px;
    background-color:rgba(0,0,0,0.3);
    border:solid 2px white;
    color:white;
    padding:5px;
    text-align:center;
}
textarea{
    height:400px;
}
::placeholder { 
   color:white;
}